.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  &__box {
    background-color: #fffefe;
    border: 1px solid #ffffff;
    box-shadow: 0 4px 12px rgba(82, 65, 155, 0.593);
    border-radius: 1rem;
    padding: 1.25rem;
    width: 70%;

    h2 {
      text-align: center;
      margin-bottom: 1.25rem;
    }

    &__group {
      margin-bottom: 0.9375rem;

      label {
        display: block;
        margin-bottom: 0.3125rem;
      }

      input,
      textarea,
      select {
        width: 90%;
        padding: 0.5rem;
        font-size: 0.875rem;
        border: 1px solid #ccc;
        border-radius: 0.25rem;
      }
    }

    &__tags {
      display: flex;
      flex-direction: column;
      //box-shadow: 0 4px 12px rgba(82, 65, 155, 0.593);
      padding: 1.25rem;
      width: 90%;
      margin-bottom: 1rem;

      &__tag {
        display: inline-block;
        padding: 0 25px;
        height: 50px;
        font-size: 16px;
        line-height: 50px;
        border-radius: 25px;
        background-color: #ffffff;
        border: 1px solid #ffffff;
        box-shadow: 0 4px 12px rgba(82, 65, 155, 0.593);
        margin-right: 1rem;
        margin-bottom: 1rem;
      }
    }

    &__respont {
      background-color: #ffffff49;
      box-shadow: 0 4px 12px rgba(82, 65, 155, 0.593);
      padding: 0.625rem;
      border-radius: 1rem;
      margin-bottom: 1.25rem;
      width: 95%;

      &__group {
        margin-bottom: 0.9375rem;
        width: 95%;

        label {
          display: block;
          margin-bottom: 0.3125rem;
        }

        input,
        textarea {
          width: 100%;
          padding: 0.5rem;
          font-size: 0.875rem;
          border: 1px solid #cfcdcd;
          border-radius: 0.25rem;
        }
      }
    }
  }
}