.contener__password {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    &__reset {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #ffffff;
        border: 1px solid #fffdfd;
        box-shadow: 0 4px 12px rgba(82, 65, 155, 0.593);
        border-radius: 1rem;
        padding: 20px;
        width: 30rem;

        h2 {
            font-size: 24px;
            margin-bottom: 20px;
        }

        &__form {
            display: flex;
            flex-direction: column;
            align-items: center;

            input {
                width: 22rem;
                padding: 10px;
                margin-bottom: 16px;
                border: 1px solid #ccc;
                border-radius: 4px;
            }
        }

        button {
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 10px 16px;
            border-radius: 4px;
            cursor: pointer;

            &:hover {
                background-color: #0056b3;
            }
        }
    }

    &__wrapper {
        text-align: center;
        margin-bottom: 20px;
        background-color: #ffffff;
        border: 1px solid #fffdfd;
        box-shadow: 0 4px 12px rgba(82, 65, 155, 0.593);
        border-radius: 1rem;
        padding: 20px;
        width: 40rem;

        &__countdown {
            font-size: 48px;
            /* Adjust the font size as needed */
            margin-bottom: 10px;
        }

        &__text {
            font-size: 18px;
            margin-bottom: 10px;
        }

        button {
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 10px 16px;
            border-radius: 4px;
            cursor: pointer;

            &:hover {
                background-color: #0056b3;
            }
        }
    }
}