.container__fa {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &__two {
      background-color: #ffffff;
      border: 1px solid #fffdfd;
      box-shadow: 0 4px 12px rgba(82, 65, 155, 0.593);
      border-radius: 1rem;
      padding: 20px;
      width: 40rem;
      display: flex;
      flex-direction: column; /* Agregado para centrar verticalmente */
      align-items: center;

      &__code {
          display: flex;
          justify-content: center;
          align-items: center;

          input {
              width: 40px;
              height: 40px;
              font-size: 20px;
              text-align: center;
              margin: 0 5px;

              &:focus {
                  outline: none;
              }
          }
      }

      button {
          padding: 6px 12px;
          font-size: 18px; /* Corregido: eliminado espacio entre el número y 'px' */
          border: none;
          background-color: #007bff;
          /* Color de fondo azul (#007bff) */
          color: #fff;
          /* Letras blancas */
          cursor: pointer;
          margin-top: 10px; /* Espaciado desde los inputs */
          border-radius: 4px;
      }

      button:hover {
          background-color: #555;
      }
  }
}
