// Estilos para el componente Home

    .container__Home__name {
      background-color: #f8f8f8;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 4px 12px rgba(82, 65, 155, 0.593);
      text-align: center;
      width: 70%;
      margin-left: 20%;
  
      /* Estilos para el nombre */
      h2 {
        font-size: 28px;
        color: #333;
        margin: 0;
        font-weight: bold;
      }
    }
  
   
  