.reset-password-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .reset-password-box {
    background-color: #ffffff;
    border: 1px solid #fffdfd;
    box-shadow: 0 4px 12px rgba(82, 65, 155, 0.593);
    border-radius: 1rem;
    padding: 20px;
    width: 40rem;
  
    h2 {
      font-size: 24px;
      margin-bottom: 20px;
    }
  
    form {
      
  
      button {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px 16px;
        border-radius: 4px;
        cursor: pointer;
  
        &:hover {
          background-color: #0056b3;
        }
      }
    }
  
    .success-message {
      text-align: center;
      p {
        font-size: 18px;
      }
    }
  }
  