.checkbox__container {
    display: flex;
    flex-wrap: wrap;

    &__tag {
        width: 30%;
        margin-bottom: 2%;
        margin-right: 2%;
        background-color: rgb(255, 254, 254);
        box-shadow: 0 4px 12px rgba(82, 65, 155, 0.593);
        border-radius: 1rem;

        label {
            display: flex;
            align-items: center;
            margin-bottom: 5px;

            input[type="checkbox"] {
                margin-right: 5px;
            }
        }

        &__sub {
            margin-top: 10px;
            padding-left: 20px;
            list-style-type: none;

            li {
                label {
                    display: flex;
                    align-items: center;
                    margin-bottom: 5px;

                    input[type="checkbox"] {
                        //margin-right: 5px;
                        margin-left: 0; // Ajusta el margen izquierdo a 0 para acercar el checkbox a la izquierda
                    }
                }
            }
        }
    }
}